# List of Secrets with Example Values

# homeassistant defaults
homeassistant_latitude: 0.00
homeassistant_longitude: 0.00
homeassistant_elevation: 0
homeassistant_timezone: Europe/Berlin
homeassistant_external_url: https://homeassistant
homeassistant_internal_url: http://192.168.0.1:8123

# zones
zone_parents_latitude: 0.00
zone_parents_longitude: 0.00
zone_robi_latitude: 0.00
zone_robi_longitude: 0.00
zone_work1_latitude: 0.00
zone_work1_longitude: 0.00
zone_work2_latitude: 0.00
zone_work2_longitude: 0.00

# auth
auth_provider_trusted_network: 192.168.0.0/24
auth_macmini_ip_lan: 192.168.0.1
auth_macmini_ip_wifi: 192.168.0.1
auth_kiosk_ip_lan: 192.168.0.1

# userid
user_kiosk_id: 0xBADBEEF
user_kiosk_photo: https://github.com/bluemaex.png
user_bluemaex_id: 0xBADBEEF
user_bluemaex_photo: https://github.com/bluemaex.png

# recorder
database_dsn: mysql://homeassistant:password@core-mariadb/homeassistant?charset=utf8
influxdb_host: a0d7b954-influxdb
influxdb_port: 8086
influxdb_database: homeassistant
influxdb_username: homeassistant
influxdb_password: password

# dwd
dwd_weather_home: 0xBADBEEF
dwd_weather_parents: 0xBADBEEF

# device ips
libratone_zipp_bad: 192.168.0.1
